<table>
  <tr>
    <td>Dirección</td>
    <td>
      <%= address.text_field :line1 %><br />
      <%= address.text_field :line2 %>
    </td>
  </tr>
  <tr>
    <td>Teléfono</td>
    <td><%= address.text_field :phone %></td>
  </tr>
  <tr>
    <td>Comuna</td>
    <td><%= address.text_field :comuna %></td>
  </tr>
</table>

