<tr>
  <td><%= run adult_item.run %></td>
  <td><%= adult_item.fullname %></td>
  <td>
    <%= link_to image_tag('edit_family_group.png', :title => 'Editar grupo familiar'), :action => 'edit', :id => adult_item.family_group %>
  </td>
</tr>

