<% unless @adults.nil? or @adults.empty? %>
<h3>Adultos</h3>
<table>
  <tr>
    <th>RUN</th>
    <th>Nombre</th>
    <th>Acciones</th>
  </tr>
  <%= render :partial => "adult_item", :collection => @adults %>
</table>
<% end %>
