<% unless @students.nil? or @students.empty? %>
<h3>Alumnos</h3>
<table>
<tr>
  <th>RUN</th>
  <th>Nombre</th>
  <th>Curso</th>
  <th>Acciones</th>
</tr>
<%= render :partial => 'student_item', :collection => @students %>
</table>
<% end %>
