<h2>Nuevo adulto</h2>
<% form_for :adult, @adult, :url => {:action => 'add_adult', :id => @fg} do |f|%>
<%= render :partial => 'adult', :object => f %>
<%= submit_tag "Guardar adulto" %>
<% end %>
<%= button_to "Cancelar edición", {:action => 'edit', :id => @fg} %>

