<h2>Nuevo alumno</h2>
<% form_for :student, @student, :url => {:action => 'add_student', :id => @fg} do |f|%>
<%= render :partial => 'student', :object => f %>
<%= submit_tag "Guardar alumno" %>
<% end %>
<%= button_to "Cancelar edición", {:action => 'edit', :id => @fg} %>
