<h2>Editar adulto</h2>
<% tabular_form_for :adult, @adult, :url => {:action => 'edit_adult', :id => @adult} do |f|%>
<%= render :partial => 'adult', :object => f %>
<%= submit_tag "Guardar adulto" %>
<% end %>
<%= button_to "Cancelar edición", {:action => 'edit', :id => @fg} %>
<% if @adult.editor %>
<hr />
Última edición: <%= @adult.updated_on %> por <%= @adult.editor.login %>.
<% end %>
