<h2>Editar dirección</h2>
<% tabular_form_for :address, @address, :url => {:action => 'edit_address', :id => @address} do |f|%>
<%= render :partial => 'address', :object => f %>
<%= submit_tag "Guardar dirección" %>
<% end %>
<%= button_to "Cancelar edición", {:action => 'edit', :id => @fg} %>
