<h2>Editar alumno</h2>
<% form_for :student, @student, :url => {:action => 'edit_student', :id => @student} do |f|%>
<%= render :partial => 'student', :object => f %>
<%= submit_tag "Guardar alumno" %>
<% end %>
<%= button_to "Cancelar edición", {:action => 'edit', :id => @fg} %>
<% if @student.editor %>
<hr />
Última edición: <%= @student.updated_on %> por <%= @student.editor.login %>.
<% end %>
