<h2>Encuesta socioeconómica</h2>
<% form_for :survey, @survey, :url => {:action => 'take_survey', :id => @fg } do |f| %>
<%= render :partial => 'survey', :object => f %>
<%= submit_tag 'Guardar encuesta' %>
<% end %>
<%= button_to "Cancelar edición", {:action => 'edit', :id => @fg} %>
