.formError { font-weight:bold; color:red; }
a img {border:0px}
table,td,th {border: 1px solid black;}
table {border-collapse:collapse;}
table{border="1px" solid black; border="1" solid black; rules="all";}
