<html>
  <head>
    <title>Colegio San Alberto: Matrícula 2008</title>
    <%= stylesheet_link_tag 'print', :media=>'all' %>
    <link rel="shortcut icon" href="/images/icono.png" /> 
    <%= javascript_include_tag 'prototype' %>
    <meta http-equiv="content-type" content="text/html; charset=UTF-8">

  </head>
  <body style="font-family:sans-serif;" >


    <%= yield  %>


  </div>
</body>
</html>





